<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARCHIMATION - Select Topic</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/input.css">

  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
  <div class="background-container"></div>

  <div class="navbar-container">
    <div class="menu"><a href="#" class="menu-button"><i data-feather="menu"></i></a></div>
    <div class="header-name"><a id="white" href="index" class="home-link">ARCHIMATION</a></div>
    <div class="account-profile"><a href="#" class="profile-icon"><i data-feather="user"></i></a></div>
  </div>

  <main class="content-container">
    <div class="input-card">
      <h2>Pick a topic, and let the journey begin!</h2>
      <form id="topic-form">
        <div class="input-wrapper">
          <input type="text" id="topic-input" placeholder="Enter a topic like 'Quantum Physics' or 'Calculus'">
          <button type="submit" class="submit-arrow">
            <i data-feather="arrow-right"></i>
          </button>
        </div>
      </form>
    </div>
  </main>
  
  <script>feather.replace();</script>
  <script src="../static/js/main.js"></script>
</body>
</html>