<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Islands of Curiosity</title>
  <link rel="stylesheet" href="../static/prompt.css/">
</head>
<body>
  <div class="background-container"></div>
  <div class="navbar-container">
    <div class="menu"><a href="#" id="menu-button" class="icon"><i data-feather="menu"></i></a></div>
    <div class="header-name">ARCHIMATION</div>
    <div class="account-profile"><a href="#" id="profile-icon" class="icon"><i data-feather="user"></i></a></div>
  </div>
  
</body>
</html>